.the-form {
  border: 1px solid $gray1;
  padding: 2em;

  &__title {
    margin-bottom: 1em;
  }

  &__group {
    margin-bottom: 1em;
    label {
      display: block;
      margin-bottom: 0.2em;
    }

    &_checkbox {
      label {
        display: inline;
      }
    }
  }

  &__input {
    background: brown;
    display: block;
    width: 100%;
    box-sizing: border-box;
    &[type="text"],
    &[type="email"] {
      padding: 0.7em;
    }
  }

  &__select {
    height: 2.5em;
  }
}

#solicita_una_demo_Email {
  display: block;
  width: 50%;
  box-sizing: border-box;
  &[type="text"],
  &[type="email"] {
    padding: 0.7em;
  }
}
